services:
  frontend:
    build:
      context: ./frontend
    container_name: frontend
    ports:
      - "5173:5173"
    volumes:
      - ./frontend:/app:cached
      - frontend_node_modules:/app/node_modules
      - ./frontend/certs:/app/frontend/certs
    environment:
      - VITE_BACKEND_API_URL=https://localhost:8000/api
    depends_on:
      - backend

  backend:
    build:
      context: ./backend
    container_name: backend
    ports:
      - "8000:8000"
    volumes:
      - ./backend:/app
      - ./backend/certs:/app/backend/certs
    environment:
      DB_NAME: ourpainthub
      DB_USER: postgres
      DB_PASSWORD: 1991
      DB_HOST: db
      DB_PORT: 5432
      DEBUG: "True"
    depends_on:
      - db
    command: >
      sh -c "python manage.py runserver_plus
      --cert-file backend/certs/cert.pem
      --key-file backend/certs/key.pem
      0.0.0.0:8000"

  db:
    image: postgres:13
    container_name: db
    environment:
      POSTGRES_DB: ourpainthub
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 1991
    volumes:
      - postgres_data:/var/lib/postgresql/data
    env_file:
      - .env
    ports:
      - "5432:5432"

  pgadmin:
    image: dpage/pgadmin4
    container_name: pgadmin
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@admin.com
      PGADMIN_DEFAULT_PASSWORD: admin
    ports:
      - "8080:80"
    depends_on:
      - db
    volumes:
      - pgadmin_data:/var/lib/pgadmin

volumes:
  postgres_data:
  frontend_node_modules:
  pgadmin_data: