html, body {
  height: 100%;
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.main-box {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #BDECB6 0%, #6666cc 100%);
}

.input-container {
  max-width: 30em;
  width: 90%;
  padding: 3em;
  border-radius: 0.75em;
  background-color: #f0f0ff;
  box-shadow: 0 1.25em 1.875em rgba(51, 51, 255, 0.3);
    box-sizing: border-box;

  h1 {
    text-align: center;
    margin-top: 0em;
    margin-bottom: 0.75em;
    font-weight: 700;
    color: #222266;
    user-select: none;
  }

  .form-group {
    margin-bottom: 1.25em;
     user-select: none;

    label {
      display: block;
      margin-bottom: 0.5em;
      font-weight: 600;
      color: #444488;
      user-select: none;
    }

    input {
      width: 100%;
      padding: 0.85em 1em;
      box-sizing: border-box;
      border: 0.1em solid #bbbbee;
      border-radius: 0.5em;
      font-size: 1em;
      transition: border-color 0.3s ease;
    }


    input:focus {
      outline: none;
      border-color: #3333ff;
      box-shadow: 0 0 0.5em rgba(51, 51, 255, 0.5);
      background-color: #fafaff;
    }
  }

  button {
    width: 100%;
    padding: 1em;
    background-color: #3333ff;
    color: white;
    border: none;
    border-radius: 0.5em;
    font-weight: 700;
    font-size: 1.1em;
    cursor: pointer;
    box-shadow: 0 0.3125em 0.9375em rgba(51, 51, 255, 0.4);
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    user-select: none;
  }

  button:hover {
    background-color: #0000cc;
    box-shadow: 0 0.5em 1.25em rgba(0, 0, 204, 0.6);
  }

  .message {
    margin-top: 1.2em;
    text-align: center;
    font-style: italic;
    color: #5555aa;
  }
}


@media (max-width: 480px) {
  .input-container {
    width: 90%;
    padding: 1.5rem;

    h1 {
      font-size: 1.5rem;
    }

    input, button {
      font-size: 0.95rem;
      padding: 0.7em 0.8em;
    }
  }
}

@media (min-width: 1600px) {
  .input-container {
    max-width: 900px;
    padding: 4rem;

    h1 {
      font-size: 3rem;
    }

    input, button {
      font-size: 1.5rem;
      padding: 1.5em;
    }
  }
}