.start-container {
  text-align: center;
  margin-top: 100px;

  .buttons {
    display: flex;
    justify-content: center;
    gap: 20px;

    button {
      padding: 10px 20px;
      font-size: 16px;
      cursor: pointer;
      border-radius: 5px;
      border: none;
      background-color: #4caf50;
      color: white;

      &:hover {
        background-color: #45a049;
      }
    }
  }
}
